.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topActions {
    display: flex;
    gap: 5px;
    border: 1px solid red;
    align-items: center;
    justify-content: end;
}

.closeIcon {
    cursor: pointer;
}

.editIcon {
    cursor: pointer;
}