.inputContainer {
    width: 100%;
}

.inputInnerContainer {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
    /* color: '#1A1F36'; */
    color: black;
    background-color: #FFFFFF;
    border: 1px solid rgba(60, 66, 87, 0.12);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
}

.input::placeholder {
    color: #8792A2;
    opacity: 1; /* Firefox */
}

.input:active, .input:focus {
    /* border: none; */
    outline: none;
    box-shadow: none;
}